@model List<AuraInventarioProto.Models.UsuariosModels>
@{
    ViewBag.Title = "Ingreso de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ingreso de Usuarios</h2>
<div class="well bs-component">
    <form class="form-horizontal">
        <fieldset>
            <legend>Ingreso</legend>


            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancelar</button>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>