@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aura Inventario</h1>
    <p class="lead">TODO.</p>
    <p><a href="http://www.aura.cl" target="_blank" class="btn btn-primary btn-lg">Aura Ingenieria &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Test1</h2>
        <p>
            Filler
        </p>
        <p><a class="btn btn-default" href="http://www.aura.cl" target="_blank">Aura Ingenieria &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Test2</h2>
        <p>Filler</p>
        <p><a class="btn btn-default" href="http://www.aura.cl" target="_blank">Aura Ingenieria &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Test3</h2>
        <p>Filler</p>
        <p><a class="btn btn-default" href="http://www.aura.cl" target="_blank">Aura Ingenieria &raquo;</a></p>
    </div>
</div>