@{
    ViewBag.Title = "Home Page";
}
@if (!String.IsNullOrEmpty(ViewBag.error)) {
    @:<script type="text/javascript">alert('@ViewBag.error')</script>
 }

<div class="jumbotron">
    <h1>Aura Inventario</h1>
    @{
        if (!(Session["UserID"] == null)) {
            <p class="lead">Bienvenido: @Session["UserName"].ToString()</p>
        } else {
            <p><button data-toggle="modal" data-target="#LoginModal" class="btn btn-primary btn-lg startup">Login &raquo;</button></p>
            <hr />
            @Html.ActionLink("Test", "testing", "Home")

    }
}

</div>

<div class="row">
</div>

