@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}    
    <link href="/Content/PageLayout.css" rel="stylesheet" />
    
    <div id="example" class="ccontainer">
        <div class="box wide hidden-on-narrow">
            <div class="box-col">
                <h4>Get PDF</h4>
                <button class="export-pdf k-button" onclick="getPDF('.pdf-page')">Export</button>
            </div>
        </div>

        @*Pagina*@
        <div class="page-container hidden-on-narrow ">
            <div class="pdf-page size-letter container">
                @*Header*@
                    <div class="row pdf-header">
                        <div class="col-md-2">
                            <img src="/Content/Img/logo.gif" class="company-logo">
                        </div>
                        <div class="col-md-offset-1 col-md-7 doc-title">
                            Registro de Mantenimiento de Equipo
                        </div>
                        <div class="col-md-2 invoice-number">Folio: ID - %</div>
                    </div>
                @*Header*@

                @*Body*@                
                    
                        <div class="col COL1">
                            <h5>Descripción del Equipo</h5>
                            <dl class="dl-horizontal">
                                <dt>Serial:</dt>
                                <dd>XXXX</dd>
                                <dt>Marca:</dt>
                                <dd>YYYY</dd>
                                <dt>Modelo:</dt>
                                <dd>ZZZZ</dd>
                                <dt>Tipo:</dt>
                                <dd>WWWW</dd>
                                <dt>Estado:</dt>
                                <dd>WWWW</dd>  
                                <dt>Asignado:</dt>
                                <dd>WWWW</dd> 
                                <dt>Obra:</dt>
                                <dd>WWWW</dd>    
   
                            </dl>
                            <br />
                            <h5>Observaciones:</h5>
                            <h8>
                               Texto<br />
                               Nueva Linea<br />
                               Otra Linea
                            </h8>
                        </div>

                        <div class="col COL2">
                            <h5>Estado del Equipo</h5>
                            <dl class="dl-horizontal">
                                <dt>TeamViewer:</dt>
                                <dd><input type="checkbox" checked="checked"/></dd>
                                <dt>Registros:</dt>
                                <dd><input type="checkbox" checked="checked" /></dd>
                                <dt>Anti Virus:</dt>
                                <dd><input type="checkbox" checked="" /></dd>
                                <dt>PDF:</dt>
                                <dd><input type="checkbox" checked="checked" /></dd>
                                <dt>Office:</dt>
                                <dd><input type="checkbox" checked="" /></dd>
                                <dt>Lic. Windows:</dt>
                                <dd><input type="checkbox" checked="checked" /></dd>
                                <dt>Lic. Office:</dt>
                                <dd><input type="checkbox" checked="checked" /></dd>
                                <dt>SGI-P30 (Sw):</dt>
                                <dd><input type="checkbox" checked="" /></dd>
                                <dt>SGI-P30 (Res):</dt>
                                <dd><input type="checkbox" checked="checked" /></dd>
                            </dl>                            
                        </div>                      
                        @*Firma*@
                <div class="row pdf-body">
                    <div class="row signature">
                        <div class="col">
                            <p>_______________</p>
                            <p>Recibi Conforme</p>
                            <p>%NAME</p>
                        </div>
                    </div>
                    @*Firma*@
                </div>

                @*Body*@

                @*Footer*@
                <div class="row pdf-footer">
                    <p>© %YEAR - Aura Ingenieria.</p>
                </div>
                @*Footer*@
            </div>
        </div>

        <div class="responsive-message"></div>
    </div>

@section scripts{
<script src="http://kendo.cdn.telerik.com/2017.1.118/js/jszip.min.js"></script>
<script src="http://kendo.cdn.telerik.com/2017.1.118/js/kendo.all.min.js"></script>
<script src="http://kendo.cdn.telerik.com/2017.1.118/js/angular.min.js"></script>

<script>
                kendo.pdf.defineFont({
                    "DejaVu Sans": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans.ttf",
                    "DejaVu Sans|Bold": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Bold.ttf",
                    "DejaVu Sans|Bold|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
                    "DejaVu Sans|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf"
                });
</script>
<script src="../content/shared/js/pako.min.js"></script>
<script>
                function getPDF(selector) {
                    kendo.drawing.drawDOM($(selector)).then(function (group) {
                        kendo.drawing.pdf.saveAs(group, "Invoice.pdf");
                    });
                }
</script>
    }



@*<div class="page-container hidden-on-narrow container body-content">
    <div class="pdf-page size-letter">
        
        <div class="pdf-header row">
            <div class="col">
                <img src="/Content/Img/logo.gif" class="company-logo">
            </div>
            <div class="col-md-offset-1 col">
                Registro de Mantenimiento de Equipo
            </div>
            <div class="col invoice-number">Folio: ID - %</div>
        </div>
        

        
        <div class="pdf-body row">
            <div class="COL1 col-md-6">
                <h5>Descripción del Equipo</h5>
                <dl class="dl-horizontal">
                    <dt>Serial:</dt>
                    <dd>XXXX</dd>
                    <dt>Marca:</dt>
                    <dd>YYYY</dd>
                    <dt>Modelo:</dt>
                    <dd>ZZZZ</dd>
                    <dt>Tipo</dt>
                    <dd>WWWW</dd>
                </dl>
            </div>

            <div class="COL2 col-md-6">
                <h3>From</h3>
                <p style="padding-bottom: 20px; border-bottom: 1px solid #e5e5e5;">
                    Hanna Moos <br>
                    Lützowplatz 456<br>
                    Berlin, Germany,  10785
                </p>
                <p style="padding-top: 20px;">
                    Invoice ID: 23543<br>
                    Invoice Date: 12.03.2014<br>
                    Due Date: 27.03.2014
                </p>
            </div>

            
            <div class="signature row">
                <p>_______________</p>
                <p>Recibi Conforme</p>
                <p>%NAME</p>
            </div>
            

        </div>
        

        
        <div class="pdf-footer">
            <p>© %YEAR - Aura Ingenieria.</p>
        </div>
        
    </div>
</div>*@