body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

.navbar-brand {
    float: left;
    padding: 7.5px 10px;
    font-size: 17px;
    line-height: 23px;
    height: 64px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width:inherit;
    max-width: 250px;
}

.startup:hover {
    -webkit-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
}

.dataTables_info{
    white-space:normal;
    color:inherit !important;
}

.dataTables_paginate {
    white-space: normal;
    color: inherit !important;
}

.dataTables_length {
    white-space: normal;
    color: inherit !important;
}

.dataTables_filter{
    color: inherit !important;
}

input[type="search"] {
    -webkit-appearance: inherit;
}

.navbar-nav{
    margin: 10px 10px 10px 10px;
}

.navbar-toggle{
    margin: 15px 15px 15px 15px;
}

.chosen-container{
    width: 100% !important;
    max-width:250px;
}

.box-col{
    padding-left: 10%;
}


/*select, select.form-control {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    -webkit-box-shadow: inset 1px -1px 5px #dddddd;
    box-shadow: inset 1px -1px 5px #dddddd;
}*/



/*.odd{
    background-color: inherit !important;
}

.even{
    background-color: inherit !important;
}

.sorting_1{
    background-color: inherit !important;
}*/