@model List<AuraInventarioProto.Models.MovimientosModels>
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Movimientos</h2>
@if (!Model.Any()) {
    <text>No hay Movimientos.</text>
} else {
    <table class="table table-striped table-hover " title="Usuarios">
        <thead>
            <tr>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model) {
                <tr>

                </tr>
            }
        </tbody>
    </table>
}