@using (Ajax.BeginForm("UploadExcel", "USUARIOS", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId= "result" }, new { enctype = "multipart/form-data" })) {
    <div id="myModal" class="modal fade animated bounceInDown">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Ingreso Masivo de Usuarios</h4>
                </div>
                <div class="modal-body">
                    <p>Descargar Formato:</p>
                    <a class="btn btn-primary" href="/USUARIOS/DownloadExcel/">Descargar</a>
                    <hr />
                    <p>Cargar Excel:</p>
                    <input type="file" id="FileUpload" name="FileUpload" class="btn btn-primary" style="max-width:500px;border-radius:30px;"  />
                    <p>Esta accion tiene un limite de 500 valores.</p>
                    <hr />
                    <div id="result" class="text text-danger" style="white-space: pre-line"></div>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" id="submitupload">Subir Archivo</button>
                </div>
            </div>
        </div>
    </div>
}



